name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Setup JDK
        uses: actions/setup-java@v1.4.4
        with:
          java-version: 21
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Cache build deps
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/wrapper
            ~/.konan/cache
            ~/.konan/dependencies
          key: build-deps-${{ runner.os }}-${{ hashFiles('gradle/**', 'gradlew*', 'gradle.properties', '*.gradle*') }}
      - name: Set up Xcode
        run: |
          ls /Applications/Xcode*
          swift --version
          sudo xcode-select --switch /Applications/Xcode_26.0.app/Contents/Developer
          gem install xcpretty
      - name: Use dummy google-services json
        run: mv composeApp/src/google-services-dummy.json composeApp/src/google-services.json
      - name: Set up Swift
        uses: swift-actions/setup-swift@v2.2.0

      - name: Build
        run: ./gradlew :composeApp:compileKotlinIosArm64 :libpebble3:linkDebugFrameworkIosArm64 :composeApp:assembleDebug
        env:
          GITHUB_ACTOR: ${{ secrets.READ_PACKAGES_ACTOR }}
          GITHUB_TOKEN: ${{ secrets.READ_PACKAGES_TOKEN }}
      - name: Test
        run: ./gradlew testDebugUnitTest jvmTest lintDebug
        env:
          GITHUB_ACTOR: ${{ secrets.READ_PACKAGES_ACTOR }}
          GITHUB_TOKEN: ${{ secrets.READ_PACKAGES_TOKEN }}
